#tree-container {
    cursor: move;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px; /* Initial width, can be adsjusted */
    height: 400px; /* Initial height, can be adjusted */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border: 1px solid #ddd; /* Light grey border */
    overflow: auto; /* Allows scrolling if content is bigger than container */
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Optional: Adds a shadow for better visibility */
    border-radius: 10px; /* Rounded corners. Adjust as needed */
    resize: both; /* Allows resizing both vertically and horizontally */
    max-width: 100%; /* Ensures the container doesn't exceed the width of the parent */
    max-height: 100%; /* Ensures the container doesn't exceed the height of the parent */
}

#downloadButtonConatiner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* ensures the button stays above other elements */
}

#downloadButton {
    padding: 10px 15px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for a bit of depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

#downloadButton:hover {
    background-color: #45a049; /* Darker shade of green on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
}

/* ------------------------------- */

ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }