body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#chat-bar {
    position: fixed;
    bottom: 20px;
    /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    /* Frosted glass effect */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #222;
    width: 60vw;
    /* Widen the bar */
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    q justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* Increase padding for larger margins */
}

#chat-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: #222;
    padding: 0 10px;
    outline: none;
    font-size: 18px;
    /* Slightly larger text */
}

#chat-input::placeholder {
    color: #444444;
}


#toast-container {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px; /* Adjust right to create a margin on the right side */
    max-height: 80vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column-reverse; /* Stack messages from bottom to top */
    align-items: flex-start; /* Left-align messages */
    z-index: 999; /* Ensure the container is above other elements */
    
}



.toast-message {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #222;
    border-radius: 15px;
    margin: 5px 0; /* Spacing between messages */
    padding: 15px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    max-width: 90%;
}


.toast-message.active {
    opacity: 1; /* Show with fading effect */
}

.toast-message button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
    outline: none;
}